.styleBox {
    border-left: 4px solid #FF6262;
    border-right: 4px solid #FF6262;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    height: 180vh;
    width: 1415px;
}

.boxButton {
    display: flex;
    align-items: center;
    gap: 78px;
    margin-bottom: 40px;
}

/* ----- One Button Doctor */

.buttonOne {
    width: 344px;
    height: 63px;
    padding: 5px 0px 10px 0px;
    border-radius: 5px;
    border: 2px solid rgb(129, 126, 126);
    background: white;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: rgb(129, 126, 126);
}

.activeOne {
    border: 2px solid rgb(0, 0, 0);
    color: white;
    background: #292929;
}

.buttonTwo {
    width: 282px;
    height: 63px;
    padding: 5px 0px 10px 0px;
    border-radius: 5px;
    border: 2px solid rgb(129, 126, 126);
    background: white;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: rgb(129, 126, 126);
}

.activeTwo {
    border: 2px solid rgb(0, 0, 0);
    color: white;
    background: #292929;
}

/* add Doctor */


.parent {
    display: flex;
    align-items: start;

}

.boxStr {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    padding: 10px;
    border: 2px solid #9E9E9E;
    border-right: none;
    padding: 20px 80px 20px 20px;
}

.boxStr::after {
    position: absolute;
    content: "";
    border-right: 2px solid #9E9E9E;
    height: 100%;
    right: 0;
    bottom: 0;
}

.inputStr1 {
    width: 1042px;
    height: 93px;
    padding: 25px 30px 25px 30px;
    border: 2px solid black;
    outline: none;
    font-size: 30px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inputStr {
    width: 1042px;
    height: 93px;
    padding: 25px 30px 25px 30px;
    border: 2px solid black;
    outline: none;
    font-size: 30px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 15px;
}

.inputPro {
    width: 820px;
    height: 93px;
    padding: 25px 30px 25px 30px;
    border: 2px solid black;
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 15px;
}


.BoxPhone {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    padding: 0px 30px 0px 30px;
    margin-top: 15px;
    margin-left: 20px;
    width: 820px;
    height: 93px;
    padding: 0px 0px 0px 30px;
}

.inputPhone {
    font-size: 30px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: none;
    outline: none;
    width: 100%;
}

.text {
    font-size: 30px;
    font-weight: 400;
    border-right: 2px solid black;
    padding-right: 15px;
}

.En_Ru {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    right: 1.5px;
}

.buttonDiv1 {
    height: 63px;
    width: 121px;
    border: none;

}

.activeBDiv1 {
    height: 74px;
    width: 121px;
    border-left: 2px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button1 {
    text-align: center;
    width: 121px;
    height: 63px;
    left: 15px;
    padding: 10px 0px 10px 0px;
    border-radius: 0px 5px 5px 0px;
    border-top: 2px solid #9E9E9E;
    border-right: 2px solid #9E9E9E;
    border-left: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    border-bottom: none;
    margin-top: 10px;
    margin-right: 4px;
    background: white;
    color: #9E9E9E;
}

.activeB1 {
    color: black;
    border-left: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    margin-top: 0px;
}

/* ---- */
.buttonDiv {
    height: 74px;
    width: 121px;
    border-left: 2px solid #9E9E9E;
    border-top: 1px solid #9E9E9E;
    border-top-right-radius: 5px;
}

.activeBDiv {
    height: 63px;
    width: 121px;
    border: none;
}

.button2 {
    width: 121px;
    background: white;
    height: 63px;
    padding: 10px 40px 10px 40px;
    gap: 10px;
    border-radius: 0px 5px 5px 0px;
    border-bottom: 2px solid #9E9E9E;
    border-right: 2px solid #9E9E9E;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    border-top: none;
    border-left: none;
    color: #9E9E9E;
}

.activeB2 {
    width: 121px;
    height: 63px;
    left: 15px;
    padding: 10px 40px 10px 40px;
    gap: 10px;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    color: black;
}




.b {
    display: flex;
    align-items: end;
    gap: 76px;
    /* margin-top: 80px; */
}

.buttonSubmit {
    text-align: center;
    width: 272px;
    height: 73px;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    border: 2px solid black;
    background: white;
    outline: none;
    color: black;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
}



.parentPhoto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    outline: none;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 20px;
    width: 820px;
    height: 93px;
    padding: 20px 30px 20px 30px;
    margin-top: 15px;
}

.photo {
    outline: none;
    font-size: 30px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: none;
}

.buttonPhoto {
    width: 265px;
    height: 53px;
    padding: 2px 0px 5px 0px;
    text-align: center;
    border: 2px solid black;
    font-size: 30px;
    font-weight: 500;
    border-radius: 5px;
}

.buttonPhoto:hover {
    background: rgb(241, 123, 123);
}

/* ----list   */

.inputMain {
    outline: none;
    font-size: 30px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 800px;
    height: 100%;
    padding: 0px 0px 0px 30px;
    border: none;
}

.inputMain1 {
    outline: none;
    font-size: 30px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 680px;
    height: 100%;
    padding: 0px 0px 0px 30px;
    border: none;
}

.list {
    width: 1042px;
    height: 93px;
    padding: 25px 0px 25px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    margin-top: 15px;
}

.list1 {
    width: 820px;
    height: 93px;
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    margin-left: 20px;
    margin-top: 15px;
}

.mainText {
    font-family: Jost;
    font-size: 24px;
    font-weight: 400;
}

ul {
    list-style: none;
}

.lsDOCTORS {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    /* padding-left: 20px; */
    width: 971px;

}

.lsDOCTORS1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding-left: 20px;
    width: 820px;

}

.main {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background: #E7E7E7;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.plus {
    margin-right: 30px;
}

.x {
    width: 14.16px;
    height: 14.26px;
    margin-top: 2px;
}

.textList {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    color: #9E9E9E;
    margin-left: 30px;

}




.StartEndTime {
    display: flex;
    align-items: center;
    width: 820px;
    height: 93px;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 20px;
}

.start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 378px;
    height: 93px;
    padding: 20px 30px 20px 30px;
    border: 2px solid black;
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    text-align: left;

}

.timeStyle {
    width: 35px;
    height: 35px;
    margin-top: 10px;

}


.time {
    outline: none;
    border: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    width: 230px;
    height: 43px;
    text-align: left;
}



.error {
    color: #FF0000;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.9px;
    text-align: left;
}
.errorTime {
    color: #FF0000;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.9px;
    text-align: left;
    margin-bottom: 10px;
}

.errorPhoto {
    color: #FF0000;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.9px;
    text-align: left;
    margin-left: 20px;
}

/* --------------- */





.delete {
    text-align: center;
    border: none;
    color: white;
    outline: none;
    background: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
}

.fadeIn {
    opacity: 0;
    transform: translateX(0px);
    /* Сдвиг вниз */
    animation: fadeInAnimation 1s forwards ease-in-out;
    border: none;

}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateX(30px);
        /* Начальная позиция - сдвиг */
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        /* Конечная позиция */
    }
}


.fadeOut {
    opacity: 1;
    transform: translateX(0px);
    animation: fadeOutAnimation 1s;
    border: none;
    background: white;
    padding-top: 5px;
}

@keyframes fadeOutAnimation {
    from {
        opacity: 0;
        transform: translateX(0px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        /* Сдвиг вниз при исчезновении */
    }
}


.getButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 199.58px;
    height: 53px;
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    background: #FF6262;
    border: 2px solid black;
}




.parentDoctorGet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-top: none;
    width: 1 190px;
    height: 99px;
    padding: 0px 30px 0px 0px;

}

.getNAmeImg {
    display: flex;
    align-items: center;
}


.getImg {
    width: 99px;
    height: 95px;

}


.textGet {
    text-align: left;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    padding: 28px 20px 28px 30px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    color: black;
    text-decoration: none;
    width: 100%;
}

.TitleGet {
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    padding: 28px 30px 28px 30px;
}



/* One Doctor GET */

.oneParent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.line {
    border: 2px solid black;
    position: absolute;
    width: 100%;
    top: 120px;
}

.parent1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1920px;
    padding-right: 85px;
    border-left: 4px solid #FF6262;
    margin-left: 85px;
}

.img {
    height: 120px;
    padding-left: 70px;
    padding-top: 11px;
}

.box {
    text-align: center;
    height: 120px;
    border-right: 4px solid #FF6262;
    padding-right: 70px;
    padding-top: 30px;
}



.boxBody {
    width: 1835px;
    height: 200vh;
    border: 4px solid #FF6262;
    border-top: none;
    border-bottom: none;
    margin: 0px 85px 0px 85px;
    padding: 40px 70px 0px 70px;
}

.oneBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1688.58px;
    height: 63px;
}

.back {
    text-align: center;
    width: 243px;
    height: 63px;
    padding: 5px 0px 10px 0px;
    border-radius: 5px;
    border: 2px solid black;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}



.divBody {
    display: flex;
    align-items: start;
    margin-top: 50px;
    gap: 64.76px;
    margin-bottom: 32px;
}

.divText {
    width: 841px;
}

.TitleText {
    font-family: Jost;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 1px;
}

.TitleText1 {
    font-family: Jost;
    font-size: 48px;
    font-weight: 500;
    color: #FF6262;
    margin-bottom: 30px;
}

.NuberOne {
    width: 288px;
    height: 68px;
    padding: 15px 20px 15px 20px;
    border: 2px solid #FF6262;
    font-family: Jost;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;

}

.Doctor {
    width: 1190px;
}

.TitleServices {
    height: 46px;
    font-family: Jost;
    font-size: 32px;
    font-weight: 500;
    color: #FF6262;
}

.ol {
    list-style: none;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 22px;

}

.descriptionText {
    width: 837.88px;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.Info {

    width: 837.88px;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
}

.Info1 {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 837.88px;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
}

.StarIsEnd {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
}



.doctorTitle {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.textContent {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.oneImg {
    width: 632px;
    height: 569px;
}


.fadeInOne {
    opacity: 0;
    transform: translateX(60px);
    animation: fadeInAnimation 0.5s forwards ease-in-out;
    border: none;

}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateX(70px);
        /* Начальная позиция - сдвиг */
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        /* Конечная позиция */
    }
}


.fadeOutOne {
    opacity: 1;
    transform: translateX(0px);
    animation: fadeOutAnimation 0.5s;
    padding-top: 5px;
}

@keyframes fadeOutAnimation {
    from {
        opacity: 0;
        transform: translateX(0px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        /* Сдвиг вниз при исчезновении */
    }
}

.deleteOne {
    text-align: center;
    border: none;
    color: white;
    outline: none;
    background: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
}

.getButtonOne {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 298.58px;
    height: 63px;
    padding: 10px 90px 10px 90px;
    border-radius: 5px;
    border: 2px solid black;
    background: #FF6262;
}