.styleBox {
    border-left: 4px solid #FF6262;
    border-right: 4px solid #FF6262;
    width: 1415px;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    height: 115vh;
    padding-bottom: 40px;
}

.boxButton {
    display: flex;
    align-items: center;
    gap: 111px;
    margin-bottom: 60px;
}

/* --One Button and Story */

.buttonOne {
    width: 342px;
    height: 63px;
    padding: 5px 0px 10px 0px;
    border-radius: 5px;
    border: 2px solid #9E9E9E;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #9E9E9E;
    background: white;
}

.activeOne {
    width: 342px;
    height: 63px;
    padding: 5px 0px 10px 0px;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    text-align: center;

}

/*  Two Button Story */

.buttonTwo {
    width: 309px;
    height: 63px;
    padding: 5px 0px 10px 0px;
    border-radius: 5px;
    border: 2px solid #9E9E9E;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #9E9E9E;
    background: white;
}

.activeTwo {
    width: 309px;
    height: 63px;
    padding: 5px 0px 10px 0px;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}




/* - AddStatistic */




.add {
    display: flex;
    align-items: start;
}

.divEN_RU {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid #9E9E9E;
    border-right: none;
    padding: 0px 80px 20px 20px;
}

.divEN_RU::after {
    position: absolute;
    content: "";
    border-right: 2px solid #9E9E9E;
    height: 100%;
    right: 0;
    bottom: 0;
}



.inputDescription {
    width: 1050px;
    height: 93px;
    padding: 25px 30px 25px 30px;
    border: 2px solid black;
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    outline: none;
}

/* ----en -ru */
.En_Ru {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    right: 2px;
}
.buttonDiv1{
    height: 63px;
    width: 121px;
    border: none;
 
}

.activeBDiv1 {
    height: 74px;
    width: 121px;
    border-left: 2px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button1 {
    text-align: center;
    width: 121px;
    height: 63px;
    left: 15px;
    padding: 10px 0px 10px 0px;
    border-radius: 0px 5px 5px 0px;
    border-top: 2px solid #9E9E9E;
    border-right: 2px solid #9E9E9E;
    border-left: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    border-bottom: none;
    margin-top: 10px;
    margin-right: 4px;
    background: white;
}

.activeB1 {
  
    border-left: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    margin-top: 0px;
}

/* ---- */
.buttonDiv {
    height: 74px;
    width: 121px;
    border-left: 2px solid #9E9E9E;
    border-top: 1px solid #9E9E9E;
    border-top-right-radius: 5px;
}

.activeBDiv {
    height: 63px;
    width: 121px;
    border: none;
}

.button2 {
    width: 121px;
    background: white;
    height: 63px;
    padding: 10px 40px 10px 40px;
    gap: 10px;
    border-radius: 0px 5px 5px 0px;
    border-bottom: 2px solid #9E9E9E;
    border-right: 2px solid #9E9E9E;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    border-top: none;
    border-left: none;
   
}

.activeB2 {
    width: 121px;
    height: 63px;
    left: 15px;
    padding: 10px 40px 10px 40px;
    gap: 10px;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
}

/* 
.En_RU {
    display: flex;
    flex-direction: column;
    width: 136px;
    height: 124px;
    position: relative;
    right: 2px;
}

.button {
    text-align: center;
    width: 121px;
    height: 63px;
    left: 15px;
    padding: 10px 0px 10px 0px;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid #9E9E9E;
    border-left: 2px solid #9E9E9E;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    opacity: 0px;
    background: white;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    color: #9E9E9E;
}

.activeB {
    color: black;
    border-left: none;
} */







.submit {
    display: flex;
    align-items: end;
    gap: 50px;
}


.divSubmit {
    text-align: end;
    margin-top: 88px;
    padding-right: 0px;
    padding-bottom: 40px;
}

.buttonSubmit {
    width: 272px;
    height: 73px;
    padding: 10px 0px 15px 0px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid black;
    outline: none;
    background: white;
    font-size: 30px;
    font-family: Jost;
    border-radius: 3px;
    font-weight: 600;
}


.parentPhoto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    width: 820px;
    height: 93px;
    padding: 0px 30px 0px 30px;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 20px;
    margin-left: 20px;
}

.photo {
    outline: none;
    font-size: 30px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: none;
}

.buttonPhoto {
    width: 265px;
    height: 53px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 2px 0px 0px 5px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
}

/* --------get == */
.getDiv {
    border-top: 2px solid black;
    width: 1190px;
}

.getParent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    height: 99px;
    padding: 0px 30px 0px 0px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.boxGet {
    display: flex;
    align-items: center;
}

.getImg {
    width: 99px;
    height: 95px;

}

.textGet {

    text-align: left;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    padding: 28px 20px 28px 30px;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.TitleGet {
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    padding: 28px 30px 28px 30px;
}






.delete {
    text-align: center;
    border: none;
    color: white;
    outline: none;
    background: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
}

.fadeIn {
    opacity: 0;
    transform: translateX(0px);
    /* Сдвиг вниз */
    animation: fadeInAnimation 1s forwards ease-in-out;
    border: none;

}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateX(30px);
        /* Начальная позиция - сдвиг */
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        /* Конечная позиция */
    }
}


.fadeOut {
    opacity: 1;
    transform: translateX(0px);
    animation: fadeOutAnimation 1s;
    border: none;
    background: white;
    padding-top: 5px;
}

@keyframes fadeOutAnimation {
    from {
        opacity: 0;
        transform: translateX(0px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        /* Сдвиг вниз при исчезновении */
    }
}

.getButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 199.58px;
    height: 53px;
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    background: #FF6262;
    border: 2px solid black;
}