.styleBox {
    text-align: center;
    width: 1415px;
    height: 960px;
    border-left: 4px solid #FF6262;
    border-right: 4px solid #FF6262;
    padding: 50px 70px 04px 70px;
    height: 100vh;
}


.boxSub {
    text-align: end;
    margin-top: 540px;

}

.buttonSubmit {
    text-align: center;
    width: 272px;
    height: 73px;
    padding: 10px 0px 15px 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    outline: none;
}


.boxButton {
    display: flex;
    align-items: center;
    gap: 96.5px;
    margin-bottom: 40px;
}

/* ------------- */
.buttonOne {
    width: 354px;
    height: 63px;
    padding: 5px 0px 10px 0px;
    border-radius: 5px;
    border: 2px solid rgb(129, 126, 126);
    background: white;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: rgb(129, 126, 126);
}

.activeOne {
    border: 2px solid rgb(0, 0, 0);
    color: black;
    width: 354px;
    height: 63px;
    padding: 5px 0px 10px 0px;

    border-radius: 5px;
}

/* 

/* -------------- */


.buttonTwo {
    text-align: center;
    width: 293px;
    height: 63px;
    padding: 5px 0px 10px 0px;
    border-radius: 5px;
    border: 2px solid rgb(129, 126, 126);
    background: white;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    text-align: center;

    color: rgb(129, 126, 126);
}

.activeTwo {
    width: 293px;
    height: 63px;
    border: 2px solid rgb(0, 0, 0);
    color: black;
    border-radius: 5px; 
}





/* - AddStatistic */
.inputStatistic {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* __add input */

.add {
    display: flex;
    align-items: start;
}

.divEN_RU {
    position: relative;
    border: 2px solid #9E9E9E;
    border-right: none;
    padding: 20px 80px 20px 20px;
    position: relative;
    left: 2px;  
}



.inputNumber {
    width: 198px;
    height: 93px;
    padding: 25px 0px 25px 30px;
    border: 2px 0px 0px 0px;
    border: 2px solid black;
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    outline: none;
}

.inputDescription {
    width: 820px;
    height: 93px;
    padding: 25px 30px 25px 30px;
    border: 2px solid black;
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    outline: none;
    overflow: hidden;
    resize: none;
}



.error {
    color: #FF0000;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.9px;
    text-align: left;
}







/* Button En - RU */
.En_Ru {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.buttonDiv1{
    height: 63px;
    width: 121px;
    border: none;
 
}

.activeBDiv1 {
    height: 74px;
    width: 121px;
    border-left: 2px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button1 {
    text-align: center;
    width: 121px;
    height: 63px;
    left: 15px;
    padding: 10px 0px 10px 0px;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid #9E9E9E;
    border-right: 2px solid #9E9E9E;
    border-left: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    border-bottom: none;
    margin-top: 10px;
    margin-right: 4px;
    background: white;
    color: #9E9E9E;
}

.activeB1 {
   color: black;
    border-left: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    margin-top: 0px;
}

/* ---- */
.buttonDiv {
    height: 74px;
    width: 121px;
    border-left: 2px solid #9E9E9E;
    border-top: 1px solid #9E9E9E;
    border-top-right-radius: 5px;
}

.activeBDiv {
    height: 63px;
    width: 121px;
    border: none;
}

.button2 {
    width: 121px;
    background: white;
    height: 63px;
    padding: 10px 40px 10px 40px;
    gap: 10px;
    border-radius: 0px 5px 5px 0px;
    border-bottom: 2px solid #9E9E9E;
    border-right: 2px solid #9E9E9E;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    border-top: none;
    border-left: none;
    /* position: relative; */ color: #9E9E9E;
}

.activeB2 {
    width: 121px;
    height: 63px;
    left: 15px;
    padding: 10px 40px 10px 40px;
    gap: 10px;
    border-radius: 0px 5px 5px 0px;
    border-top: 1px solid #9E9E9E;
    border-left: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    color: black;
}


/*  */



/* GET */


.get {
    margin-top: 20px;
    border-top: 3px solid black;
    width: 1190px;
}


.GitItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    border-top: none;
    width: 1190px;
    height: 99px;
    padding: 0px 30px 0px 0px
}

.getBox {
    display: flex;
    align-items: center;
    gap: 20px;
}

.descriptionGet {
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    line-height: 43.35px;
    text-align: left;
}

.getText {
    border-right: 3px solid black;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 28px 20px 28px 30px;
    width: 200px;
}




.deleteBox:hover {
    padding: 5px 50px;
    background: #FF6262;
    transition: all 1s;
}

.delete {
    text-align: center;
    border: none;
    color: white;
    outline: none;
    background: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
}



.fadeIn {
    opacity: 0;
    transform: translateX(0px);
    /* Сдвиг вниз */
    animation: fadeInAnimation 1s forwards ease-in-out;
    border: none;
    padding-top: 5px;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateX(30px);
        /* Начальная позиция - сдвиг */
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        /* Конечная позиция */
    }
}


.fadeOut {
    opacity: 1;
    transform: translateX(0px);
    animation: fadeOutAnimation 1s;
    border: none;
    background: white;
}

@keyframes fadeOutAnimation {
    from {
        opacity: 0;
        transform: translateX(0px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        /* Сдвиг вниз при исчезновении */
    }
}



.getButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 199.58px;
    height: 53px;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    border: none;
    background: #FF6262;
    margin-right: 30px;
    border: 3px solid black;
}