.parent {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.login{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    border: 2px solid red;
    padding:  5px 20px;
    border-radius: 10px;
    background: red;
    color: white;
}