.styleBox {
    border-left: 4px solid #FF6262;
    border-right: 4px solid #FF6262;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    height: 106vh;
    width: 1415px;
}

.boxButton {
    display: flex;
    align-items: center;
    gap: 96.5px;
    margin-bottom: 40px;
}

.buttonOne {
    width: 350px;
    height: 63px;
    border-radius: 5px;
    border: 2px solid rgb(129, 126, 126);
    background: white;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: rgb(129, 126, 126);
}



.activeOne {
    width: 350px;
    height: 63px;
    border: 2px solid rgb(0, 0, 0);
    color: black;
}


.buttonTwo {
    width: 282px;
    height: 63px;
    border-radius: 5px;
    border: 2px solid rgb(129, 126, 126);
    background: white;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: rgb(129, 126, 126);
}



.activeTwo {
    width: 282px;
    height: 63px;
    border: 2px solid rgb(0, 0, 0);
    color: black;
}



/* Report GET */

.subDiv {
    text-align: end;
    margin-top: 345px;
}

.buttonSubmit {
    width: 272px;
    height: 79px;
    padding: 8px 0px 15px 0px;
    border-radius: 5px;
    border: 2px solid black;
    background: white;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;

}




.parent {
    display: flex;
    align-items: start;

}

.boxStr {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    position: relative;
    padding: 10px;
    border: 2px solid #9E9E9E;
    border-right: none;
    padding: 20px 80px 20px 20px;
    gap: 15px;
}

.boxStr::after {
    position: absolute;
    content: "";
    border-right: 2px solid #9E9E9E;
    height: 100%;
    right: 0;
    bottom: 0;
}

.inputStr {
    border: 2px solid black;
    outline: none;
    font-size: 30px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 1042px;
    height: 93px;
    padding: 0px 0px 0px 30px;

}


.En_Ru {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 19.2px;
    position: relative;
    right: 1.8px;
}
.buttonDiv1{
    height: 63px;
    width: 121px;
    border: none;
 
}

.activeBDiv1 {
    height: 74px;
    width: 121px;
    border-left: 2px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button1 {
    text-align: center;
    width: 121px;
    height: 63px;
    left: 15px;
    padding: 10px 0px 10px 0px;
    border-radius: 0px 5px 5px 0px;
    border-top: 2px solid #9E9E9E;
    border-right: 2px solid #9E9E9E;
    border-left: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    border-bottom: none;
    margin-top: 10px;
    margin-right: 4px;
    background: white;
    color: #9E9E9E;
}

.activeB1 {
  color: black;
    border-left: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    margin-top: 0px;
}

/* ---- */
.buttonDiv {
    height: 73px;
    width: 121px;
    border-left: 2px solid #9E9E9E;
    border-top: 1px solid #9E9E9E;
    border-top-right-radius: 5px;
}

.activeBDiv {
    height: 63px;
    width: 121px;
    border: none;
}

.button2 {
    width: 121px;
    background: white;
    height: 63px;
    padding: 10px 40px 10px 40px;
    gap: 10px;
    border-radius: 0px 5px 5px 0px;
    border-bottom: 2px solid #9E9E9E;
    border-right: 2px solid #9E9E9E;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    border-top: none;
    border-left: none;
    color: #9E9E9E;
}

.activeB2 {
    color: black;
    width: 121px;
    height: 63px;
    left: 15px;
    padding: 10px 40px 10px 40px;
    gap: 10px;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
}

.parentPhoto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    width: 820px;
    height: 93px;
    padding: 0px 30px 0px 30px;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 20px;
    margin-left: 20px;
}


.photo {
    outline: none;
    font-size: 30px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: none;
}

.buttonPhoto {
    height: 53px;
    border-radius: 5px;
    padding: 0px 0px 0px 5px;
}

.date {
    display: flex;
    justify-content: space-between;
    width: 820px;
    height: 93px;
    /* gap: 50px; */
    border: 2px solid black;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    margin-left: 20px;
}

.time {
    width: 820px;
    height: 93px;
    gap: 50px;
    border: 2px solid black;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
}

.time1 {
    width: 100%;
    border: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    outline: none;
}




/* get */




.delete {
    text-align: center;
    border: none;
    color: white;
    outline: none;
    background: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
}

.fadeIn {
    opacity: 0;
    transform: translateX(0px);
    animation: fadeInAnimation 0.5s forwards ease-in-out;
    border: none;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateX(30px);
        /* Начальная позиция - сдвиг */
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        /* Конечная позиция */
    }
}


.fadeOut {
    opacity: 1;
    transform: translateX(0px);
    animation: fadeOutAnimation 1s;
    border: none;
    padding-top: 5px;
    background: white;
}

@keyframes fadeOutAnimation {
    from {
        opacity: 0;
        transform: translateX(0px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        /* Сдвиг вниз при исчезновении */
    }
}


.reportParent{
border-top: 2px solid black;
width: 1190px;
}
.getButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 199.58px;
    height: 53px;
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    background: #FF6262;
    border: 2px solid black;
}



.reportD {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1190px;
    padding: 0px 30px 0px 0px;
    gap: 30px;
    border: 2px solid black;
    border-top: none;

}

.date_Time {
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    padding: 28px 20px 28px 20px;
    border-right: 2px solid;
}

.titleReport {
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    padding: 28px 20px 28px 20px;

}