.admin {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 85px;
    padding-right: 70px;
    padding-top: 50px;
}

.link {
    width: 350px;
    height: 80px;
    padding: 12px 10px 17px 10px;
    border-radius: 10px;
    border: 2px solid black;
    font-family: Jost;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: black;
}
.links {
    width: 350px;
    height: 80px;
    padding: 12px 10px 17px 10px;
    border-radius: 10px;
    border: 2px solid rgb(139, 137, 137);
    font-family: Jost;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: rgb(139, 137, 137);
}