.parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

.img {
    height: 120px;
    border-right : 4px solid #FF6262;
    padding-left: 155px;
    padding-right: 130px;
   padding-top: 11px;
}

.box{
    height: 120px;
    border-right : 4px solid #FF6262;
    margin-right: 85px;
    padding-right: 70px;
    padding-top: 30px;
}