* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  /* font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; */
}


.button {
  font-size: 30px;
  font-weight: 500;
  background: #F26866;
  border: none;
  outline: none;
  color: white;
  width: 80px;
  height: 59.83px;
  border-radius: 10px;
  font-family: Jost;

}

#active a.active {
  text-decoration: none;
  color: red;
  font-family: Jost;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  width: 150px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid black;
}


/* MODAL  */


.modal {
  position: fixed;
  bottom: 43.5%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
  cursor: pointer;
}


.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 491px;
  height: 73px;
  top: 21px;
  left: 715px;
  padding: 15px 0px 15px 0px;
  gap: 20px;
  border-radius: 10px;
  text-align: center;
  transform: scale(0.1);
  transition: 2s all;
}

.iconError {
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 10px;
}


.modal-success {
  background: #69C372;
  transition: 2s all;
}


.modal-error {
  background: #FF4141;
  transition: 2s all;
}

.modal-content.modal-error {
  transform: scale(1);
}

.modal-content.modal-success {
  transform: scale(1);
}

.textModal {
  color: white;
  font-family: Jost;
  font-size: 22px;
  font-weight: 600;
  text-align: center;

}