* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  /* font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; */
}


.button {
  font-size: 30px;
  font-weight: 500;
  background: #F26866;
  border: none;
  outline: none;
  color: white;
  width: 80px;
  height: 59.83px;
  border-radius: 10px;
  font-family: Jost;

}

#active a.active {
  text-decoration: none;
  color: red;
  font-family: Jost;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  width: 150px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid black;
}


/* MODAL  */
/*  */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 10000;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #69C372;
  width: 491px;
  height: 73px;
  padding: 15px 0px 15px 0px;
  gap: 20px;
  border-radius: 10px;
  font-family: Jost;
  transform: scale(0.3);
  transition: 0.4s all;
  margin-top: 21px;
  color: white;
  z-index: 5000;
}

.modal-content.active {
  transform: scale(1);
}

.susses-error {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  padding: 10px 11px;
}

/* error */


.modal-error {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 10000;
}

.modal-error.error {
  opacity: 1;
  pointer-events: all;
}

.modal-content-error {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF4141;
  width: 491px;
  height: 73px;
  padding: 15px 0px 15px 0px;
  gap: 20px;
  border-radius: 10px;
  font-family: Jost;
  transform: scale(0.3);
  transition: 0.4s all;
  margin-top: 21px;
  color: white;

}

.modal-content-error.error {
  transform: scale(1);
}

.er {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  padding: 10px 13px 10px 13px;
}